$font-family = -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi, Micro Hei,sans-serif;
body
    padding: 0px
    background: #fff
    margin: 0px
    font-family: $font-family

input, button, textarea
    font-family: $font-family
button
    cursor: pointer;
    text-align: center;
li
    list-style-type:none;
